<div class="login-container">
  <mat-card class="login-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div *ngIf="errorMessage" [ngClass]="{'error-message': !isSuccess(), 'success-message': isSuccess()}">
      {{ errorMessage }}
    </div>
  </mat-card>
</div>
