<div class="tasks-container">
  <mat-card class="tasks-card">
    <h2>Tasks</h2>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let task of tasks; let i = index" [class.completed]="task.completed">
        <mat-checkbox [(ngModel)]="task.completed" (change)="moveToBottom(i)">
        </mat-checkbox>
        <div class="task-content">
          <div class="task-info">
            <div class="task-title">{{ task.title }}</div>
            <div class="task-description">{{ task.description }}</div>
          </div>
          <button mat-icon-button (click)="editTask(task)">
            <mat-icon class="edit-button">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(task.id, i)">
            <mat-icon class="delete-button">delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
